<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Company</title>

</head>
<body>

<div class="container">
{% if messageCompany %}
        <div class="alert alert-danger"
             style="max-width: 800px; margin-left: auto; margin-right: auto;">{{ message }}</div>
{% endif %}
{% if good %}
        <div class="alert alert-success"
             style="max-width: 800px; margin-left: auto; margin-right: auto;">{{ good }}</div>
{% endif %}

<div class="row">
<div class="pull-left">
{% if i %}
<form action="/dash/{{ user.id }}/edit_company/{{ comp.id }}/" method="post">
    {% csrf_token %}
    <label style="font-size: small" for="fName">Company:</label>

        <div class="form-group">
        <input type="text" style="max-width: 225px; margin-left: 0px;" class="form-control" name="compName"
               value="{{ comp.name }}" required>
    </div>


    <a href="/dash/{{ user.id }}/edit_company/{{ comp.id }}/delete/" class="btn btn-danger">Delete</a>
    <input style="margin-left: 0px" class="btn  btn-success " type="submit" value="Edit">

</form>
{% else %}
<form action="/dash/{{ user.id }}/new_company/" method="post">
    {% csrf_token %}
    <label style="font-size: small" for="fName">Company:</label>

        <div class="form-group">
        <input type="text" style="max-width: 225px; margin-left: 0px;" class="form-control" name="compName"
               placeholder="Company Name" required>
    </div>



    <input style="margin-left: 0px" class="btn  btn-success " type="submit" value="Create">

</form>
{% endif %}
<br>
{% if edit %}
    <form action="/dash/{{ user.id }}/edit_location/{{ id }}/" method = "post">
    {% csrf_token %}
    <label style="font-size: small" for="fName">Location:</label>
    <div class="form-group">
        <input type="text" style="max-width: 225px; margin-left: 0px;" class="form-control" name="street"
               value="{{ street }}" required>
    </div>
    <div class="form-group">
        <input type="text" style="max-width: 225px; margin-left: 0px;" class="form-control" name="town"
               value="{{ town }}" required>
    </div>
    <div class="form-group">
        <input type="text" style="max-width: 225px; margin-left: 0px;" class="form-control" name="state"
               value="{{ state }}" pattern=".{2,2}"   required title="2 Letter abbreviation">
    </div>
    <div class="form-group">
        <input type="text" style="max-width: 225px; margin-left: 0px;" class="form-control" name="zipCode"
               value="{{ zip }}" pattern=".{5,5}"   required title="Zip codes have 5 digits">
    </div>
    <div class="form-group">
        <input type="text" style="max-width: 225px; margin-left: 0px;" class="form-control" id = "phone" name="phone"
               value="{{ phone }}" pattern=".{9,10}"   required title="9 Digits minimum">
    </div>
    <select readonly style="max-width: 225px; margin-left: 0px;" class="form-control" name="company">

        <option id= {{ co.name }}>{{ co.name }}</option>

    </select>
    <br>
        <a href="/dash/{{ user.id }}/edit_location/{{ id }}/delete/" class="btn btn-danger">Delete</a>
        <a href="/dash/{{ user.id }}/new_company/" class="btn btn-warning">Cancel</a>
    <input style="margin-left: 0px" class="btn  btn-success " type="submit" value="Edit">
</form>

{% else %}
<form action="/dash/{{ user.id }}/new_location/" method = "post">
    {% csrf_token %}
    <label style="font-size: small" for="fName">Location:</label>
    <div class="form-group">
        <input type="text" style="max-width: 225px; margin-left: 0px;" class="form-control" required name="street"
               placeholder="Street">
    </div>
    <div class="form-group">
        <input type="text" style="max-width: 225px; margin-left: 0px;" class="form-control" required name="town"
               placeholder="Town">
    </div>
    <div class="form-group">
        <input type="text" style="max-width: 225px; margin-left: 0px;" class="form-control" name="state"
               placeholder="State" pattern=".{2,2}"   required title="2 Letter abbreviation">
    </div>
    <div class="form-group">
        <input type="text" style="max-width: 225px; margin-left: 0px;" class="form-control" name="zipCode"
               placeholder="Zip Code" pattern=".{5,5}"   required title="Zip codes have 5 digits">
    </div>
    <div class="form-group">
        <input type="text" style="max-width: 225px; margin-left: 0px;" class="form-control" name="phone"
               placeholder="Phone Number" pattern=".{9,10}"   required title="9 Digits minimum" >
    </div>
    <select style="max-width: 225px; margin-left: 0px;" class="form-control" name="company" required>
        {% for comp in comps %}
            <option id= {{ comp.name }}>{{ comp.name }}</option>
        {% endfor %}
    </select>
    <br>
    <input style="margin-left: 0px" class="btn  btn-success " type="submit" value="Create">
</form>
{% endif %}

</div>

<div class="pull-3" >
<div class="container">
<div class="jumbotron" style="margin-left: 200px;">
  <table class="table table-striped" style="max-width: 900px;">

    <thead>
      <tr>
        <th>Name</th>
        <th>Street</th>
          <th>Town</th>
          <th>Phone</th>
      </tr>
    </thead>
    <tbody>
        {% for loc in locs %}
            <tr>
                <td><a href = "/dash/{{ user.id }}/edit_company/{{ loc.company.id }}/">{{ loc.company.name }}</a></td>
                <td><a href="/dash/{{ user.id }}/edit_location/{{ loc.id }}/"> {{ loc.street }}</a></td>
                <td>{{ loc.town }}</td>
                <td>{{ loc.phone }}</td>
            </tr>
        {% endfor %}

    </tbody>
  </table>
</div>
</div>
</div>
</div>
</div>

</body>
</html>